.packetList {
  flex: 1;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-top: none;
}

.sendRow {
  background-color: #e6f7ff;
}

.receiveRow {
  background-color: #f6ffed;
}

.selectedRow {
  background-color: #e6f7ff !important;
  border: 2px solid #1890ff !important;
}

